#environment
  #toolbar
    %a{id: 'add_file', href: '#' }
      Add File
    #files
      %a{class: 'session_tab', href: '#', 'data-filename' => 'default.rb' }
        default.rb
  #editor-wrapper
    #editor puts "HELLO"
  #output-wrapper
    #output
