#environment
  #toolbar
    Keybinding:
    %a{class: 'bind current', id: 'none', href: '#'} None
    %a{class: 'bind', id: 'vim', href: '#'} Vim
    %a{class: 'bind', id: 'emacs', href: '#'} Emacs
  #drawer
    #add
      %a{id: 'add_file', href: '#' } Add File
    #files
      %a{class: 'session_tab', 'data-filename' => 'untitled1.rb', 'data-order' => 1, href: '#'}
        untitled1.rb
  #editor-wrapper
    #editor puts "HELLO"
  #output-wrapper
    #output Enter some ruby code in the editor and watch it show up here.
