// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #272822;
}

#header {
  background: no-repeat url('/assets/logo.png');
  height: 60px;
  width: 100%;
}

#environment {

  #editor-wrapper {
    float: left;
    width: 50%;

    #editor {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 60px;
      width: 50%;
    }
  }

  #output-wrapper {
    float: right;
    width: 50%;

    #output {
      color: white;
      float: right;
      font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
      font-size: 12px;
      height: 100%;
      position: absolute;
      right: 0px;
      top: 60px;
      width: 50%;

      p {
        margin: 0;
      }
    }
  }
}
