// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #272822;
  color: #fff;
  font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
   text-decoration: underline;
  }
}

#header {
  background: no-repeat url('/assets/logo.png');
  height: 60px;
  width: 100%;
}

#environment {

  #toolbar {
    clear: both;
    height: 30px;
    margin: 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  #drawer {
    overflow: hidden;
    width: 100px;

    #files a {
      display: block;
    }
  }

  #add_file {
    float: left;
  }

  .session_tab {
    padding: 5px;
  }

  #editor-wrapper {
    float: left;
    width: 664px;

    #editor {
      bottom: 0;
      left: 102px;
      position: absolute;
      right: 0;
      top: 100px;
      width: 664px;
    }
  }

  #output-wrapper {
    position: absolute;
    left: 792px;
    top: 100px;
    width: 500px;

    #output {
      height: 100%;

      p {
        margin: 0;
      }
    }
  }
}
